<app-menu-feed></app-menu-feed>

<div class="container-fluid bg-cz pl-5 pr-5">

<div class="container bootstrap snippets bootdey">
<div class="row">

  <div class="profile-nav col-md-3">
      <div class="panel">

        <div class="card">
          <div class="user-heading round ">
              <img class="card-img-top rounded-circle" src="{{foto}}">
              <h1 class="mt-2"><strong>{{nome}}</strong></h1>
              <p>{{email}}</p>
              <p>{{razaoSocial}}</p>
          </div>
          <ul class="nav nav-pills nav-stacked">
              <li class="active"><a routerLink='/inicio'><i class="fa fa-chevron-left" aria-hidden="true"></i> Voltar ao Feed</a></li>
              <li><a [routerLink]="['/user-edit', id]"> <i class="fa fa-edit"></i> Editar Perfil</a></li>
          </ul>
        </div>

          <div class="card mt-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0"><i class="fa fa-github" aria-hidden="true"></i> Github</h6>
                <span class="text-secondary"><a (click)="btnGithub(github)" style="cursor: pointer;" >@{{nome}}</a></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0" ><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</h6>
                <span class="text-secondary"><a (click)="btnLinkedin(linkedin)" style="cursor: pointer;" >@{{nome}}</a></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0" ><i class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp</h6>
                <span class="text-secondary"><a (click)="btnWhatsapp(numero, nome)" style="cursor: pointer;" >Me chame</a></span>
              </li>
            </ul>
          </div>

      </div>
  </div>

  <!-- Informações do Usuário -->
  <div class="profile-info col-md-9">
      <div class="panel">
          <div class="bio-graph-heading">
            <h2>Informações Pessoais</h2>
          </div>
          <div class="panel-body bio-graph-info">
            <div class="row">
                <div class="bio-row">
                  <h6><strong>Nome</strong></h6>
                  <p>{{nome}}</p>
                  <hr>
                </div>
                <div class="bio-row">
                  <h6><strong>Sobrenome</strong></h6>
                  <p>{{sobrenome}}</p>
                  <hr>
                </div>
                <div class="bio-row">
                  <h6><strong>Razão Social</strong></h6>
                  <p>{{razaoSocial}}</p>
                  <hr>
                </div>
                <div class="bio-row">
                  <h6><strong>Email</strong></h6>
                  <p>{{email}}</p>
                  <hr>
                </div>
                <div class="bio-row">
                  <h6><strong>Número</strong></h6>
                  <p>{{numero}}</p>
                  <hr>
                </div>
                  <div class="bio-row">
                    <h6><strong>Data de Nascimento</strong></h6>
                    <p>{{user.dataNascimento}}</p>
                    <hr>
                  </div>
                  <div class="bio-row">
                    <h6><strong>Descrição</strong></h6>
                    <p>{{descricaoPerfil}}</p>
                  </div>
              </div>
          </div>
        </div>

        <!-- Minhas Postagens -->
        <div class="col-md-12 d-flex justify-content-center flex-wrap bg-white">
          <h2 class="panel-body bio-graph-info mt-3">Minhas Postagens</h2>
          <div *ngFor='let item of user.postagem | orderBy : key : reverse' class="card d-flex p-3 mt-5 rounded" style="width: 100rem;">
              <p class="card-text"><small class="text-muted"></small></p>
              <p class="card-text"><small class="text-muted">{{item.tema.descricao}}</small></p>
              <img *ngIf="item.imgpost != null" class="card-img-top" src="{{item.imgpost}}"   alt="Imagem de capa do card">
              <div class="card-body">
                  <h5 class="card-title">{{item.titulo}}</h5>
                  <p class="card-text">{{item.nome}}</p>
                  <p class="card-text"><small class="text-muted">{{item.hashtag}}</small></p>
                  <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3" href="">Editar</a>
                  <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>
              </div>
          </div>
      </div>

  </div>
</div>
</div>
</div>
