body {
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#modalentrar{
height: 460px;
width: 519px;
left: 460px;
top: 244px;
border-radius: 0px;

}
#botaocadastro{
height: 80px;
width: 346px;
left: 467px;
top: 518px;
border-radius: 10px;

}

.b{
  height: 50px;
  border-radius: 10px;
}


.fs-25 {
  font-size: 18px;
  color:#280370;
  border-color: #280370;
  border-radius: 10px;

}

.fs-25:hover{
  background-color: #280370;
}

#botaorep{
  height: 50px;
  width: 283px;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  color:#280370;
  border-color: #280370;
  border-radius: 10px;
}
#botaorep:hover{
  background-color: #280370;
  color: #ff9e22;
  }
.btn-sm:hover{

  color: aliceblue;
}
#link{
  height: 45px;
  width: 220px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #280370;
  border-color: #280370;
  border-radius: 10px;
}
#link:hover {
  background-color: #280370;
  color: #ff9e22;
}
h6{
  font-size: 11px;
}
b{
  color: #280370;
}
.sub{
  color: #ff992e;
}