<app-menu></app-menu>

  <h4 class="text-center texto mt-5">Sobre nós:</h4>


<div class="container">
  <!--mari-->
  <div class="card-wrapper">
    <div class="card profile-two">
      <div class="card-image profile-img--two">
        <img src="https://github.com/marianac-campos.png" alt="profile two" width="300" height="300">
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/marianac-campos" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/mariana-campos-br/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Mariana Campos
          <br>
          <span class="job-title">Desenvolvedora FullStack Java Jr.</span>
        </h2>
      </div>
    </div>
  </div><!-- END box wrapper -->

  <!--zé-->
  <div class="card-wrapper">
    <div class="card profile-two">
      <div class="card-image profile-img--two">
        <img src="https://github.com/xnildo.png" alt="profile two" width="300" height="300">
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/xnildo" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/ze-nildo-pereira-a64202212/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Zé Nildo
          <br>
          <span class="job-title">Desenvolvedor FullStack Java Jr. </span>
        </h2>
      </div>
    </div>
  </div><!-- END box wrapper -->

 <!--muniz-->
  <div class="card-wrapper">
    <div class="card profile-two">
      <div class="card-image profile-img--two">
        <img src="https://github.com/gumunizs.png" alt="profile two" width="300" height="300">
      </div>
      <div class="details jane">
        <h2>Gustavo Muniz
          <br>
          <span class="job-title">Desenvolvedor FullStack Java Jr.</span>
        </h2>
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/gumunizs" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/gustavo-muniz-santos-089550165/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
    </div>
  </div><!-- END box wrapper -->
</div><!-- END container -->
<!--fecha primeira tabela de cards -->


<!--inicio da segunda tabela-->
<div class="container">

  <!--talu-->
  <div class="card-wrapper">
    <div class="card profile-two">
      <div class="card-image profile-img--two">
        <img src=" https://github.com/t4lu.png" alt="profile two" width="300" height="300">
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/t4lu" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/t4lu/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Talu
          <br>
          <span class="job-title">Desenvolvedora FullStack Java Jr.</span>
        </h2>
      </div>
    </div>
  </div><!-- END box wrapper -->

  <!--João -->
  <div class="card-wrapper">
    <div class="card profile-two">
      
      <div class="card-image profile-img--two">
        <img src="https://github.com/joaovitormo.png" alt="profile two" width="300" height="300">
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/joaovitormo" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/jo%C3%A3o-vitor-mendes-71b2321a0/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>João Vitor
          <br>
          <span class="job-title">Desenvolvedor FullStack Java Jr. </span>
        </h2>
      </div>
    </div>
  </div><!-- END box wrapper -->
</div><!-- END container -->


<app-rodape></app-rodape>