<app-menu></app-menu>
<h4 class="text-center texto mt-5">Sobre nós:</h4>
<div class="container">
  <div class="card-wrapper">
    <div class="card profile-two">
      <!--mari-->
      <div class="card-image profile-img--two">
        <img
          src="https://github.com/marianac-campos.png"
          alt="profile two" width="300" height="300">
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/marianac-campos" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Mariana Campos
          <br>
          <span class="job-title">Desenvolvedora Web Java Jr. Full Stack</span>
        </h2>
      </div>
    </div>
  </div><!-- END box wrapper -->

  
  <div class="card-wrapper">
    <div class="card profile-two">
      <!--talu-->
      <div class="card-image profile-img--two">
        <img src=" https://github.com/t4lu.png" alt="profile two" width="300" height="300">
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/t4lu" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Talu
          <br>
          <span class="job-title">Desenvolvedor Web Java Jr. Full Stack</span>
        </h2>
      </div>
    </div>
  </div><!-- END box wrapper -->

<div class="card-wrapper">
  <div class="card profile-two">
    <!--talu-->
    <div class="card-image profile-img--two">
      <img src="https://github.com/joaovitormo.png" alt="profile two" width="300" height="300">
    </div>
    <ul class="social-icons">
      <li>
        <a href="https://github.com/joaovitormo" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
    </ul>
    <div class="details jane">
      <h2>João Vitor
        <br>
        <span class="job-title">Desenvolvedor Web Java Jr. Full Stack</span>
      </h2>
    </div>
  </div>
</div><!-- END box wrapper -->

<div class="card-wrapper">
  <div class="card profile-two">
    <!--zé-->
    <div class="card-image profile-img--two">
      <img src="https://github.com/xnildo.png" alt="profile two" width="300" height="300">
    </div>
    <ul class="social-icons">
      <li>
        <a href="https://github.com/xnildo" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
    </ul>
    <div class="details jane">
      <h2>Zé Nildo
        <br>
        <span class="job-title">Desenvolvedor Web Java Jr. Full Stack</span>
      </h2>
    </div>
  </div>
</div><!-- END box wrapper -->
<br>
<div class="card-wrapper">
  <div class="card profile-two">
    <!--muniz-->
    <div class="card-image profile-img--two">
      <img src="https://github.com/gumunizs.png" alt="profile two" width="300" height="300">
    </div>
    <div class="details jane">
      <h2>Gustavo Muniz
        <br>
        <span class="job-title">Desenvolvedor Web Java Jr. Full Stack</span>
      </h2>
    </div>
    <ul class="social-icons">
      <li>
        <a href="https://github.com/gumunizs" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
    </ul>
  </div>
</div><!-- END box wrapper -->
</div><!-- END container -->


<app-rodape></app-rodape>


<!--https://github.com/joaovitormo.png
https://github.com/xnildo.png
https://github.com/gumunizs.png-->